{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    
    {% block script %}
    {% endblock %}
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Network</a>

        <div>
            <ul class="nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <button class="nav-link button-link text-info" id="my_profile"><strong>
                            {{ user.username | title}}
                        </strong></button>
                </li>

                <li class="nav-item">
                    <button class="nav-link button-link" id="view_post">All Post</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link button-link" id="addpost">Add Post</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link button-link" id="following">Following</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network:logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network:register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="body container ">
        {% block body %}
        {% endblock %}
    </div>



</body>

</html>